---
interface Props {
    title: string;
    description: string;
    icon: string;
    href?: string;
}

const { title, description, icon, href = "#" } = Astro.props;
---

<a
    href={href}
    class="lg:min-h-[400px] sm:min-h-[300px] group relative flex flex-col items-center bg-white rounded-2xl p-6 md:p-7 border border-slate-200 shadow-sm transition-all duration-500 ease-out hover:-translate-y-1 hover:shadow-lg focus:outline-hidden"
    data-aos="zoom-in"
    data-aos-duration="1000"
    data-aos-once="true"
>
    <!-- ICONO -->
    <div
        class="pt-4 flex justify-center items-center transition-transform duration-500 group-hover:scale-110"
    >
        <img
            src={icon}
            alt={title}
            class="w-30 h-30 transition-all duration-300 group-hover:brightness-110"
        />
    </div>

    <!-- CONTENIDO -->
    <div class="mt-5 min-h-[350px]">
        <h3 class="text-[30px] text-center font-bold text-slate-800 mt-5 mb-2">
            {title}
        </h3>

        <p class="text-slate-600 text-center text-[17px] leading-relaxed">
            {description}
        </p>
    </div>
</a>
